.generate_property_code,
.generate_iblock_code {
    margin: 2px 5px;
    cursor: pointer;
}

.generate_property_code {
    float: right;
}

.generate_iblock_code {
    float: left;
}

.iblock_seo_set_default {
    margin: 5px;
    cursor: pointer;
    float: left;
}